body {
  /* overflow: hidden; */
  padding: 0;
  margin: 0;
}

.nav {
  overflow: hidden;
  margin: 15px 15px;
  position: relative;
}

nav .h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

nav .h1 h1 {
  font-size: 18px;
}

.dataNumber {
  font-size: 17px;
  opacity: 0.8;
  display: inline-block;
}

.img_containers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
}

.img_container {
  margin: 10px;
  padding: 0;
}

.img:hover {
  opacity: 0.5;
}

.img {
  width: 300px;
  height: 200px;
  border-radius: 4px;
  transition: 0.3s;
}

.img:hover {
  /* background: red; */
  cursor: pointer;
  z-index: 99;
}
